<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Style Statistics</title>
    <style>
        div {
            margin-bottom: 20px;
            border: solid 5px red;
        }

        h3 {
            padding-left: 12px;
            color: black;
            font-size: 20px;
            padding: 0;
            margin: 0;
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <h1 style="color: black;">All Files Style Statistics</h1>
    <p>Total colors: 341</p>
    <p>Total font-size: 205</p>
    <p>Total font-weight: 118</p>
    <p>Total line-height: 55</p>
    <div style="">
        <h1 style="color: black;">Green / Teal</h1>
        <h3 style="background-color: #244d4d; color: #fff;">244d4d -> 78</h3>
        <h3 style="background-color: #f0f7f7; color: black;">f0f7f7 -> 19</h3>
        <h3 style="background-color: #799; color: black;">799 -> 15</h3>
        <h3 style="background-color: rgb(36 77 77 / 12%); color: black;">rgb(36 77 77 / 12%) -> 12</h3>
        <h3 style="background-color: #d4e4e4; color: black;">d4e4e4 -> 9</h3>
        <h3 style="background-color: #f6fbf6; color: black;">f6fbf6 -> 4</h3>
        <h3 style="background-color: #316868; color: #fff;">316868 -> 3</h3>
        <h3 style="background-color: #1a3838; color: #fff;">1a3838 -> 2</h3>
        <h3 style="background-color: #4a7777; color: #fff;">4a7777 -> 2</h3>
        <h3 style="background-color: #4caf76; color: #fff;">4caf76 -> 2</h3>
        <h3 style="background-color: #e6f3f3; color: black;">e6f3f3 -> 2</h3>
        <h3 style="background-color: rgb(36 77 77 / 10%); color: black;">rgb(36 77 77 / 10%) -> 2</h3>
        <h3 style="background-color: #4caf50; color: #fff;">4caf50 -> 1</h3>
        <h3 style="background-color: #c3dede; color: black;">c3dede -> 1</h3>
        <h3 style="background-color: #d1ede3; color: black;">d1ede3 -> 1</h3>
        <h3 style="background-color: #e0eeee; color: black;">e0eeee -> 1</h3>
        <h3 style="background-color: #f8fffe; color: black;">f8fffe -> 1</h3>
        <h3 style="background-color: rgb(36 77 77 / 40%); color: black;">rgb(36 77 77 / 40%) -> 1</h3>
    </div>
    <div style="">
        <h1 style="color: black;">White / Light</h1>
        <h3 style="background-color: #fff; color: black;">fff -> 47</h3>
        <h3 style="background-color: rgb(255 255 255 / 75%); color: black;">rgb(255 255 255 / 75%) -> 3</h3>
        <h3 style="background-color: rgb(255 255 255 / 85%); color: black;">rgb(255 255 255 / 85%) -> 3</h3>
        <h3 style="background-color: rgb(255 255 255 / 15%); color: black;">rgb(255 255 255 / 15%) -> 2</h3>
        <h3 style="background-color: rgb(255 255 255 / 80%); color: black;">rgb(255 255 255 / 80%) -> 2</h3>
        <h3 style="background-color: rgb(255 255 255 / 100%); color: black;">rgb(255 255 255 / 100%) -> 1</h3>
        <h3 style="background-color: rgb(255 255 255 / 65%); color: black;">rgb(255 255 255 / 65%) -> 1</h3>
        <h3 style="background-color: rgb(255 255 255 / 90%); color: black;">rgb(255 255 255 / 90%) -> 1</h3>
        <h3 style="background-color: white; color: black;">white -> 1</h3>
    </div>
    <div style="background-color: gray;">
        <h1 style="color: black;">Gray / Black</h1>
        <h3 style="background-color: #333; color: #fff;">333 -> 22</h3>
        <h3 style="background-color: #e0e0e0; color: black;">e0e0e0 -> 21</h3>
        <h3 style="background-color: #666; color: black;">666 -> 16</h3>
        <h3 style="background-color: #bbb; color: black;">bbb -> 5</h3>
        <h3 style="background-color: #f2f2f2; color: black;">f2f2f2 -> 5</h3>
        <h3 style="background-color: #999; color: black;">999 -> 3</h3>
        <h3 style="background-color: #f0f0f0; color: black;">f0f0f0 -> 3</h3>
        <h3 style="background-color: #f8f8f8; color: black;">f8f8f8 -> 3</h3>
        <h3 style="background-color: #f5f5f5; color: black;">f5f5f5 -> 2</h3>
        <h3 style="background-color: rgb(0 0 0 / 10%); color: #fff;">rgb(0 0 0 / 10%) -> 2</h3>
        <h3 style="background-color: #777; color: black;">777 -> 1</h3>
        <h3 style="background-color: #888; color: black;">888 -> 1</h3>
        <h3 style="background-color: #aaa; color: black;">aaa -> 1</h3>
        <h3 style="background-color: #ccc; color: black;">ccc -> 1</h3>
        <h3 style="background-color: #e8e8e8; color: black;">e8e8e8 -> 1</h3>
        <h3 style="background-color: black; color: #fff;">black -> 1</h3>
        <h3 style="background-color: rgb(0 0 0 / 12%); color: #fff;">rgb(0 0 0 / 12%) -> 1</h3>
        <h3 style="background-color: rgb(0 0 0 / 15%); color: #fff;">rgb(0 0 0 / 15%) -> 1</h3>
        <h3 style="background-color: rgb(0 0 0 / 35%); color: #fff;">rgb(0 0 0 / 35%) -> 1</h3>
        <h3 style="background-color: rgb(0 0 0 / 70%); color: #fff;">rgb(0 0 0 / 70%) -> 1</h3>
    </div>
    <div style="">
        <h1 style="color: black;">Orange</h1>
        <h3 style="background-color: #f59e0b; color: black;">f59e0b -> 10</h3>
    </div>
    <div style="">
        <h1 style="color: black;">Red</h1>
        <h3 style="background-color: #e74c3c; color: black;">e74c3c -> 5</h3>
        <h3 style="background-color: #fef2f2; color: black;">fef2f2 -> 5</h3>
        <h3 style="background-color: #e05c2a; color: #fff;">e05c2a -> 1</h3>
    </div>
    <div style="">
        <h1 style="color: black;">Transparent</h1>
        <h3 style="background-color: transparent; border: solid 2px #333;">transparent -> 11</h3>
    </div>
    <div>
        <h1 style="color: black;">Font size</h1>
        <h3 style="font-size: 1rem;">1rem -> 46</h3>
        <h3 style="font-size: 0.875rem;">0.875rem -> 33</h3>
        <h3 style="font-size: 0.95rem;">0.95rem -> 29</h3>
        <h3 style="font-size: 1.25rem;">1.25rem -> 21</h3>
        <h3 style="font-size: 0.75rem;">0.75rem -> 16</h3>
        <h3 style="font-size: 0.8rem;">0.8rem -> 16</h3>
        <h3 style="font-size: 1.5rem;">1.5rem -> 13</h3>
        <h3 style="font-size: 2rem;">2rem -> 8</h3>
        <h3 style="font-size: 0.9rem;">0.9rem -> 7</h3>
        <h3 style="font-size: 1.75rem;">1.75rem -> 3</h3>
        <h3 style="font-size: 1.05rem;">1.05rem -> 2</h3>
        <h3 style="font-size: 1.125rem;">1.125rem -> 2</h3>
        <h3 style="font-size: 3rem;">3rem -> 2</h3>
        <h3 style="font-size: 0.72rem;">0.72rem -> 1</h3>
        <h3 style="font-size: 0.7rem;">0.7rem -> 1</h3>
        <h3 style="font-size: 1.1rem;">1.1rem -> 1</h3>
        <h3 style="font-size: 1.35rem;">1.35rem -> 1</h3>
        <h3 style="font-size: 1.4rem;">1.4rem -> 1</h3>
        <h3 style="font-size: 2.5rem;">2.5rem -> 1</h3>
        <h3 style="font-size: 4rem;">4rem -> 1</h3>
    </div>
    <div>
        <h1 style="color: black;">Font weight</h1>
        <p style="font-weight: 600;">600 -> 62</p>
        <p style="font-weight: 700;">700 -> 34</p>
        <p style="font-weight: 500;">500 -> 16</p>
        <p style="font-weight: 400;">400 -> 6</p>
    </div>
    <div>
        <h1 style="color: black;">Line height</h1>
        <h2 style="line-height: 1.6; border: solid 2px blue;">1.6 -> 29 Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height</h2>
        <h2 style="line-height: 1.4; border: solid 2px blue;">1.4 -> 12 Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height</h2>
        <h2 style="line-height: 1.5; border: solid 2px blue;">1.5 -> 10 Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height</h2>
        <h2 style="line-height: 1.8; border: solid 2px blue;">1.8 -> 2 Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height</h2>
        <h2 style="line-height: 1.7; border: solid 2px blue;">1.7 -> 1 Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height</h2>
        <h2 style="line-height: 1.9; border: solid 2px blue;">1.9 -> 1 Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height Line height(Line height) </h2>
    </div>
</body>
</html>
